<app-header [name]="'Informe de Rendimentos'" (redirectTo)="backToPainel()">

</app-header>

<div class="container-fluid">
    <p class="texto-topo">Insira o ano do Informe de Rendimento</p>
  
    <div class="container-select">
        <div class="select-ano">
            <label for="ano" style="margin-right: 25px;">Ano:</label>
            <select id="ano">
              <ng-container *ngFor="let i of [2019, 2020, 2021, 2022, 2023]">
                <option [value]="i">{{ i }}</option>
              </ng-container>
            </select>
          </div>
    </div>

    <button type="button" (click)="download()" class="button-download" >Download <i style="margin-left: 5px;" class="fa fa-download" ></i></button>

    <footer style="margin-top: 50px;">
        <img src="../../assets/aptiv-logo-preto.png">
    </footer>
</div>
  