.class {
    background-color: #1A1C1D;
    width: 100%; /* Largura da div */    
    height: 100vh; /* Altura da div */
    align-items: center;
    justify-content: center;
    display: flex;
}

button {
    background-color: #F9ECE1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 1rem;
    border-style: solid;
    border-color: #F84018;
    border-radius: 10px;
    border-width: 3px;
    width: 100%;
    height: 100px;
}

i {
    margin-left: 10px;
}