<div class="container-fluid">


    <img class="mt-5" src="../../assets/aptiv-logo.svg">

    <form [formGroup]="formLogin">
        <div>
          <input type="text" id="registro" formControlName="registro" placeholder="Registro" class="input-text-registro">
        </div>
      
        <div>
          <input type="password" id="senha" formControlName="senha" placeholder="Senha" class="input-text-senha">
        </div>
      
        <button type="button" (click)="entrar()" class="button-entrar" [disabled]="formLogin.invalid">ENTRAR</button>
    </form>
</div>