<div class="container-fluid">


    <img class="mt-5" src="../../assets/aptiv-logo.svg">

    <form [formGroup]="formLogin">
        <div>
          <input type="text" id="register" formControlName="register" placeholder="Registro" class="input-text-registro">
        </div>
      
        <div>
          <input type="password" id="password" formControlName="password" placeholder="Senha" class="input-text-senha">
        </div>
      
        <button type="button" (click)="entrar()" class="button-entrar" >ENTRAR</button>
    </form>
</div>