<app-header [name]="'Remover Colaborador'" [role]="'admin'" (redirectTo)="backToPainel()"></app-header>

<div class="container-fluid">
    <p class="texto-topo">Informe o nome do colaborador a ser removido:</p>

    
    <form [formGroup]="formRemoverColaborador">
        <div class="container-select">
            <div class="input-text-group">
                <input type="text" id="nome" placeholder="Nome" formControlName="nome" class="input-text">
                <i style="margin-left: 1rem;margin-top: 0.5rem;" (click)="search()" 
                    class="trash fa fa-magnifying-glass"></i>
            </div>
        </div>
    </form>

    <ng-container *ngFor="let colaborador of listUsers">
        <div class="container-select">
            <div class="list-colaboradores">
                <span>{{colaborador.name}} - {{colaborador.matricula}}
                    <i style="margin-left: 1rem;margin-top: 0.5rem;" (click)="removeColaborador(colaborador.id)" class="trash fa fa-trash"></i>
                </span>
            </div>
        </div>
    </ng-container>
        

    <footer style="margin-top: 50px;">
        <img src="../../assets/aptiv-logo-preto.png">
    </footer>
</div>