<app-header [name]="'Benefícios'" (redirectTo)="backToPainel()">

</app-header>

<div class="container-fluid">
    <p class="texto-topo">Esta é sua lista de benefícios,<br>acesse os cards para saber mais:</p>

    <div class="container-select">
        <div class="info">
            Vale Refeição
        </div>
    </div>

    <div class="container-select">
        <div class="info">
            Vale Alimentação
        </div>
    </div>

    <div class="container-select">
        <div class="info">
            Gympass
        </div>

    </div>

    <div class="container-select">
        <div class="info">
            Day off no aniversário
        </div>
    </div>

    <footer style="margin-top: 50px;">
        <img src="../../assets/aptiv-logo-preto.png">
    </footer>
</div>