<app-loader></app-loader>
<app-header [name]="'Benefícios'" (redirectTo)="backToPainel()">

</app-header>

<div class="container-fluid">
    <p class="texto-topo">Esta é sua lista de benefícios.
        <!-- <br>Acesse os cards para saber mais: -->
    </p>

    <ng-container *ngFor="let beneficio of beneficios">
        <div class="container-select">
            <div class="info">
                {{beneficio.nome}}
            </div>
        </div>
    </ng-container>

    <footer>
        <img src="../../assets/aptiv-logo-preto.png">
    </footer>
</div>