.container-fluid {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F9ECE1;
  width: 100%;  
  height: 100vh;
  text-align: center;
}

.texto-topo {
  margin-top: 40px;
  padding: 10px;
  font-size: 25px;
  font-weight: lighter;
}

.container-select {
  align-items: center;
  justify-content: center;
  display: flex;
}

.info {
  margin-top: 20px;
  font-size: 20px;
  border: 2px solid #f84018;
  background-color: white;
  width: 60%;
  border-radius: 10px;
}


footer {
  margin-top: auto; /* Isso empurra o footer para o final da página */
  background-color: #F9ECE1;
  padding: 10px;
  text-align: center;
}

footer img {
  max-width: 100%;
  height: auto;
}