<app-header [name]="'Painel Administrativo'" [role]="'admin'" (redirectTo)="backToPainel()"></app-header>

<div class="container-fluid">
    <div>
        <button type="button" (click)="cadastrarColaborador()" class="button-painelAdm" >Cadastrar novo colaborador <i style="margin-left: 25px;" class="fa fa-id-card" ></i></button>
    </div>

    <div style="margin-top: 20px;">
        <button type="button" (click)="removerColaborador()" class="button-painelAdm" >Remover colaborador <i style="margin-left: 25px;" class="fa fa-handshake-o" ></i></button>
    </div>

    <footer style="margin-top: 200px;">
        <img src="../../assets/aptiv-logo-preto.png">
    </footer>
</div>
  