<app-header [name]="'Holerite'" (redirectTo)="backToPainel()">

</app-header>

<div class="container-fluid">
    <p class="texto-topo">Informe o mês e ano do holerite desejado</p>
  
    <div class="container-select">
        <div class="select-mes">
            <label for="mes" style="margin-right: 25px;">Mês:</label>
            <select id="mes">
              <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
                <option [value]="i">{{ i }}</option>
              </ng-container>
            </select>
          </div>
    </div>
  
    <div class="container-select">
        <div class="select-ano">
            <label for="ano" style="margin-right: 25px;">Ano:</label>
            <select id="ano">
              <ng-container *ngFor="let i of [2019, 2020, 2021, 2022, 2023]">
                <option [value]="i">{{ i }}</option>
              </ng-container>
            </select>
          </div>
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div class="d-flex justify-content-center">
      <button type="button" (click)="download()" class="button-download" >Download <i style="margin-left: 5px;" class="fa fa-download" ></i></button>
    </div>

    <footer>
        <img src="../../assets/aptiv-logo-preto.png">
    </footer>
</div>
  