<div class="container-fluid">
    <div class="select-cards">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12 d-flex justify-content-between align-items-center mb-1">
                    <span>Holerites</span>
                </div>  
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="col-md-12 d-flex justify-content-between align-items-center mb-1">
                    <span>Informe de rendimentos</span>
                </div>  
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="col-md-12 d-flex justify-content-between align-items-center mb-1">
                    <span>Agendamento de férias</span>
                </div>  
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="col-md-12 d-flex justify-content-between align-items-center mb-1">
                    <span>Benefícios</span>
                </div>  
            </div>
        </div>
    </div>
</div>