<div>
    <div class="topbar">
        <div class="d-flex justify-content-end" style="padding-right: 2%;">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-primary profile" id="dropdownBasic1" ngbDropdownToggle> Karoline
                    <i class="fa fa-user"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem>Action - 1</button>
                  <button ngbDropdownItem>Another Action</button>
                  <button ngbDropdownItem>this should be disabled</button>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-top: 2%;">
        <app-select-cards></app-select-cards>
    </div>
</div>

