.container-fluid {
  background-color: #F9ECE1;
  width: 100%; /* Largura da div */    
  height: 100%; /* Altura da div */    
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */    
  background-position: center; /* Centraliza a imagem na div */    
  color: black; /* Cor do texto dentro da div (se desejar texto) */    
  text-align: center; /* Alinhamento do texto (se desejar texto) */    
  padding: 20px; /* Espaçamento interno da div (se desejar espaço ao redor do conteúdo) */
}

.texto-topo {
  margin-top: 40px;
  padding: 10px;
  font-size: 25px;
  font-weight: lighter;
}

.container-select {
  align-items: center;
  justify-content: center;
  display: flex;
}

.info {
  margin-top: 20px;
  font-size: 20px;
  border: 2px solid #f84018;
  background-color: white;
  width: 60%;
  border-radius: 10px;
}